<!-- /* COMP229Assignment1 *//* Student Name: Yaaseen Khan *//* Student Number: 301164475 *//* OCT/9/2021 */ -->
<!-- Script Section -->
 <script src="/jquery/dist/jquery.min.js"></script>
 <script scr="/bootstrap/dist/js/bootstrap.min.js"></script>
 <script src="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></script>
 <script src="/Scripts/app.js"></script>
 <script src="/Scripts/logic.js"></script>
</body>
</html>
