<!-- /* COMP229Assignment1 *//* Student Name: Yaaseen Khan *//* Student Number: 301164475 *//* OCT/9/2021 */ -->
<header class="board-title">    
    <img class= "pic" src="/Assets/images/pic-of-me.png">
  </header>

<article class="board">
  <header class="board-header">     
      <h2>About me:</h2>
      <p>I am Yaaseen Khan</p>
      <p>I was born on Febuary 18th, 1998</p>
      <p>I am 23 years old</p>
      <p>I am a student</p>   
      <div class="author">
        <a class="author-avatar" href="/about">
        <img src="/Assets/images/logo.png" />
        </a>
      <svg class="half-circle" viewBox="0 0 106 57"></svg>
    
      </div>    
</article>

<article class="board">
  <header class="board-header">     
      <h2>My program</h2>
      <p>I am enrolled in software engineering because I have a love for technology and I want to 
        develope higher levels of knowlage.
      </p>
  </header>
</article>

<article class="board">
  <header class="board-header">
    <h2>Location</h2>
    <p>Currently living on campus at Centennial residance</p>      
  </header>   
</article>