<!-- /* COMP229Assignment1 *//* Student Name: Yaaseen Khan *//* Student Number: 301164475 *//* OCT/9/2021 */ -->
<div class="container">
  <div class="row row-cols-3">
    <div class="col">
<article class="titleBoard">
    <header class="board-title">
        <h2>CONTACT US:</h2>
        <p>Please fill in the information and we will get back to you at our earliest availability!</p>      
    </header>
    <div class="author">
        <a class="author-avatar" href="/about"><img src="/Assets/images/logo.png" /></a>
        <div class="author-name">   
        <div class="author-name-prefix">By</div> Y.K 
    </div>
</article>
</div>
      <div class="col">
        <article class="pboard">
        <form class="form">
        <label for="fname">First name:</label><br>
        <input id="FirstName" type="text" name="FirstName" placeholder="First Name"><br>
        <label for="lname">Last name:</label><br>
        <input id="LastName" type="text" name="LastName" placeholder="Last Name"><br>
        
        <label for="Email">Email:</label><br>
        <input id="Email" type="text" name="Email" placeholder="email@example.com"><br />

        <label for="Phone">Phone:</label><br>
        <input id="Phone" type="tel" name="Phone" placeholder="(###)-###-####"><br />

        <label for="Message">Message:</label>
        <textarea id="Message" name="Message" placeholder=""></textarea>

        <input id="submit" type="button" name="submit" value="Contact Now">
        <input id="reset" type="reset" name="clear" value="Clear Form">
      </form>
    </article>
    
    </div>
    <div class="col">
      <article class="mForm">
      <header class="pboard-title">
          <h2></h2>
          <p id="Response" class="Response"></p>      
      </header>
      <div class="author">
          <a class="author-avatar" href="/about"><img src="/Assets/images/logo.png" /></a>
          <div class="author-name">   
          <div class="author-name-prefix">By</div> Y.K 
      </div>
  </article></div>
    
  
    </div>
    
  </div>


     