/* COMP229Assignment1 *//* Student Name: Yaaseen Khan *//* Student Number: 301164475 *//* OCT/9/2021 */
<article class="missionBord">
    <header class="bord-title">
      <h2>WELCOME:</h2>
      <p>I present to you my website for COMP229 Assignment 1.</p>      
    </header>
    <div class="author">
        <a class="author-avatar" href="/about">
        <img src="/Assets/images/logo.png" />
        </a>
    <div class="author-name">   
    <div class="author-name-prefix">By:
    </div>
        Y.K
    </div>
</article>

<article class="bord">
    <header class="bord-title">
      <h2>Mission Statement:</h2>
      <p>Fearless. Athentic. Quality. Giving Back. Now lets talk about we can do for you!  </p>      
    </header>   
</article>

<article class="bord">
  <header class="bord-header">     
      <a id = "nav" class="nav-link" href="/about"><i class="fas fa-info-circle"></i></i> About</a> 
  </header>
</article>

<article class="bord">
  <header class="bord-header">
<div class="tags">
    <a class="nav-link" href="/projects"><i class="fas fa-project-diagram"></i> Projects</a>
    <a class="nav-link" href="/services"><i class="fas fa-cog"></i> Services</a>
    <a class="nav-link" href="/contact"><i class="fas fa-phone-square"></i> Contact</a>
</div>
  </header>

</article>
</section>
</main>  
</body>