<!-- /* COMP229Assignment1 *//* Student Name: Yaaseen Khan *//* Student Number: 301164475 *//* OCT/9/2021 */ -->
<div class="container">
    <div class="row">
      <div class="col">
        <article class="move">
          <header class="pboard-header">
            <h2>Video Editing</h2>
            <p class="content">In my spare time I like to edit videos using various software (Sony Vagas, Adobe PP, Camtasia)</p>      
            <p>Outside of editing videos for school I usually edit for my YouTube, Twitch, TikTok, Instagram.</p>
          </header> 
          <div class="projecttags">
            <a href="https://www.youtube.com/channel/UCI6MrqNbUOWm_xO1D3J1jbg">YouTube</a>
            <a href="https://www.twitch.tv/6verkill">Twitch</a>
            <a href="https://www.tiktok.com/@6verkill?lang=en">TikTok</a>
          </div>                    
       </article>
   </div>           
   <div id="vid" class= “col-sm-6”> 
      <article class="pboard">
    <video autoplay muted loop id="myVideo" controls>          
      <source src="/Assets/images/demo.mp4" type="video/mp4">  
      </video>
      </article>
      <article class="pboard">
        <video autoplay muted loop id="myVideo" video width="400px" controls>          
          <source src="/Assets/images/montage.mp4" type="video/mp4">     
        </video>
      </article>
    <div class=“row”> 
        <div class=“col-xs-6”> 
          
        </div>
    </div>
  </div>
      <div class="w-100"></div>


      <div class="col">
        <article class="move">
          <header class="pboard-header">
            <h2>Photo Editing</h2>
            <p class="content">Accompanied with video editing, I also enjoy photo editing, creating banners, posters, and just cool imeges mostly on photoshop.</p>      
            <p>These are few mini projects I finished thoughout my journey creating content on twitch and youtube and some work I did being the leader of a discord with amaing people I am lucky to call my friends. </p>
          </header>   
        </article>           
      </div>
      
      <div id="vid" class="col">
        <article class="pboard">
          <img id="picc"src="/Assets/images/pojects/discord/Maybethis.png"></article>
        <article class="pboard">                  
          <img src="/Assets/images/pojects/twitch/about_me_banner.png">                  
      </article>
     
      <article class="pboard">
        <img src="/Assets/images/pojects/twitch/setup.png"></article>
      <article class="pboard">
        <img src="/Assets/images/pojects/twitch/dicord_banner.png"></article>
      <article class="pboard">
        <img src="/Assets/images/pojects/twitch/donate.png"></article>
      <article class="pboard">
        <img src="/Assets/images/pojects/twitch/yt.png"></article>
      <article class="pboard">
        <img src="/Assets/images/pojects/twitch/sub.png">
      </article>
      <article class="pboard">
        <img src="/Assets/images/pojects/discord/RULES.png"></article>
      </div>
     
  </div>
    
  </div>



