<!-- /* COMP229Assignment1 *//* Student Name: Yaaseen Khan *//* Student Number: 301164475 *//* OCT/9/2021 */ -->
<article class="sstitleBoard">
    <header class="sboard-title">
    <h2>Services We Offer</h2>
    <p>Video Editing</p>
    <p>Photoshop(titles, layouts, posters, banners and more!</p>
    <p>General Programming</p>
    <p>Website Development</p>
    <p>And More!</p>
</header>   
</article>
<article class="sboard">
    <!-- <header class="board-title"> -->
    <img id="spicc" src="/Assets/images/code.png"/> 
    <img id="spicc" src="/Assets/images/editing.jpeg"/> 
    <img id="spicc" src="/Assets/images/webdev.jpg"/>     
</header>
    <div class="container">
        <div class="row">
            <div class="col">
                <header class="sboard3">
                    <img id="servicePic2" src="/Assets/images/photoshop.png"/> 
                    <img id="servicePic2" src="/Assets/images/cam.jpg"/>
                    <img id="servicePic2" src="/Assets/images/coding.jpg"/>
                    <img id="servicePic2" src="/Assets/images/csharp.png"/>
                    <img id="servicePic2" src="/Assets/images/js.png"/>
                </header>
            </div>
        </div>
    </div>
</article>

<article class="sboard2">
    <!-- <header class="board-title"> -->
    <img id="servicePic" src="/Assets/images/it.jpg"/> 
        <!-- <header class="board-title"> -->       
</article>

