<!-- /* COMP229Assignment1 *//* Student Name: Yaaseen Khan *//* Student Number: 301164475 *//* OCT/9/2021 */ -->
<div class ="titleLogo">           
    <img class="logo" src="\Assets\images\logo.png" alt="logo">
    <span class= "text"><%= title %></h1> 
 </div> 

